.cart{
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #fff;
    
}
.img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.title{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}
.btnGroup{
    max-width: 150px;
}
.input{
    text-align: center;
}